<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            {{#if app.title}}{{app.title}} | {{/if}}Hologram
        </title>

        <!-- Fonts -->
        {{#if app.webfonts}}
            {{#each app.webfonts}}
                <link href='{{{this}}}' rel='stylesheet' type='text/css'>
            {{/each}}
        {{/if}}
        
        <!-- Stylesheets -->
        {{#if app.stylesheet}}
            {{#each app.stylesheet}}
                <link rel="stylesheet" type="text/css" href="{{this}}">
            {{/each}}
        {{/if}}
    </head>

    <body>
        <!-- Content -->
        {{{data.example}}}

        <!-- Scripts -->
        {{#if app.script}}
            {{#each app.script}}
                <script type="text/javascript" src="{{this}}"></script>
            {{/each}}
        {{/if}}
    </body>

</html>